<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Terayn | Clay Collection</title>
</head>
<body>
    <nav>
        <ul>
        <li><a href = "/">Home</a></li>
        <li><a href="./oils">Oils</a> </li>
        <li><a href="./enhancements">Enhancements</a> </li>
    </ul>
    </nav>
    <!-- <h3></h3> -->

        <section>
            <div class="card">
                <h3><a href="/clays/<%= clay._id %>"><%= clay.name %> </a></h3>
                <img src= "<%= clay.imgurl %>" alt="<%= clay.name %>"> 
                <p><%= clay.benefits %></p>
            </div>
        </section>
        ?
    
</body>
<foot>
    <h6><%- include ('../partials/foot.ejs') %></h6>
</foot>
</html>